<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">My Patients</h2>

          <div style="font-family: 'Amaranth';font-size: 3vh" class="listc"  *ngFor="let patient of patients">
              <img src="../../../assets/img/4.jpg" style="width: 35px;height: 35px;border-radius: 50%;margin: 1vw;">
              {{patient.name}}                
              {{patient.address}}

              <button type="button" class="bookbtn" (click)="onSelectPt(patient.id)" data-toggle="modal" data-target="#myModal" (click)="onSelectPt(patient.id)" >View</button>
              <button type="button" class="bookbtn" (click)="onPressChat(patient.id)">Chat</button>

            
              <hr>
          </div>
         
          <div class="alert alert-info" *ngIf="nopatients==true">
            <strong>You have no users mapped yet!</strong>
          </div>

         </div>
        </div>
      </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">{{onepatient.name}}</h2>
          <img style="height: 10vh;width: 5vw;border-radius: 50%;margin-left: 45%" src="../../../assets/img/6.jpg">
        </div>
        <div class="modal-body">


           <form>
                <div class="form-group" style="display: inline-table;width: 47%;margin-left: 1vw;" >
                  
                  <label for="name">Name:</label>
                  <input type="text" class="form-control input" name="name" [ngModel]="onepatient.name">
                  
                </div>
      
              <div class="form-group" style="display: inline-table; width: 47%;margin-left: 1vw" >
                  
                      <label for="bithdate">Birthday:</label>
                      <input type="text" class="form-control input" id="birthdate" name="birth_date" [ngModel]="onepatient.birth_date">
                    
                </div>
      
                <div class="form-group" style="display: inline-table;width: 47%;margin-left: 1vw" >
                  
                    <label for="gender">Gender:</label>
                    <input type="text" class="form-control input" name="gender" id="gender"[(ngModel)]="onepatient.gender" >
                    </div>
                
                  <div class="form-group" style="display: inline-table;width: 47%;margin-left: 1vw">
                      <label for="phone">Phone no:</label>
                      <input type="text" class="form-control input"  name="phone_number" id="phone" [ngModel]="onepatient.phone_number">
                  </div>
      
                  <div class="form-group" style="margin-left: 1vw;margin-right: 1vw" >
                      <label for="address">Address:</label>
                      <input type="text" class="form-control input" name="address" id="address" [ngModel]="onepatient.address">
                  </div>
      
      
                    <div class="form-group" style="margin-left: 1vw;margin-right: 1vw">
                        <label for="job">Job:</label>
                        <input type="text" class="form-control input" name="job" id="job" [ngModel]="onepatient.job">
                      </div>
      
                     <div class="form-group" style="margin-left: 1vw;margin-right: 1vw">
                          <label for="gphone">Guardian Phone no:</label>
                          <input type="text" class="form-control input" id="gphone" name="guadiant_phone_no" [ngModel]="onepatient.guadiant_phone_no">
                      </div>
                     
                    
              </form>

              <form>
                <div class="form-group" style="margin-right: 1vw;margin-left: 1vw;" >
                  
                  <label for="level">Name:</label>
                  <input type="text" class="form-control input" name="level" [ngModel]="level" (ngModelChange)="nlevel = $event">
                  
                </div>
              </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

</div>

















































