
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="card sm">
        <div class="card-body">
          <h2 class="card-title">Patients</h2>

          <!--card content-->
         
         </div>
        </div>
      </div>
</div>


<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6">
    <div class="card sm">
      <div class="card-body">
          

             <!--<h2 class="card-title">Tips</h2>-->
          <div class="card-content">
            <img src="../../../assets/img/Keith.jpg">
          </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 col-lg-6 col-sm-6">

              <!--<h2 class="card-title">Tips</h2>-->
              <div class="card-content">
                  <form>
                      <div class="form-group">
                        <label for="level">Level:</label>
                        <input type="text" class="form-control" id="level">
                      </div>
                      <div class="form-group">
                        <label for="track">Vedio Link:</label>
                        <input type="text" class="form-control" id="track">
                      </div>
                     
                      <button type="submit" class="btn btn-default">Submit</button>
                      <p>error msg</p>
                    </form> 

                    <p>gujgdgqudqufduq  id</p>
             </div>
         <!--card content-->
         </div>
      </div>

<div class="row">

<div class="col-md-6 col-lg-6 col-sm-6">
  <div class="card sm">
    <div class="card-body">
      

            <!--<h2 class="card-title">Tips</h2>-->
            <div class="card-content">
                <form>
                  
                  <div class="form-group">
                    <label for="track">Tip:</label>
                    <textarea name="message" class="form-control" rows="10" cols="30"></textarea>
                  </div>
                  
                  <button type="submit" class="btn">Submit</button>
                  <p>error msg</p>
                </form> 

                <p>gujgdgqudqufduq  id</p>
           </div>
       <!--card content-->
   </div>   
   </div>
   </div>

   <div class="col-md-6 col-lg-6 col-sm-6">

            <!--<h2 class="card-title">Tips</h2>-->
            <div class="card-content">
                <div class="card-content">
                    <img src="../../../assets/img/Keith(1).jpg">
                  </div>
           </div>
       <!--card content-->
    </div>

   
  </div>



