
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="card">
       


        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="card-header">

              
            </div>
            <div id="locator">
                <img src="../../../assets/img/myicon1.png" width="40px" height="50px">
            </div>
          </div>

          <div class="col-sm-8 col-md-8 col-lg-8">
            <p class="card-text">From our system you can book councellers who are closest to your loation. The councellers are shown in 
                anther pointer in the map.All you need to do is press on selected counceller and press the book button. It's soo much easy..
            </p>

            
          </div>
      </div>

    <!--map is here-->
      <div class="card-body">

        
         <div id="googleMap">
              <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="10" [scrollwheel]="false" >
                  <agm-marker  [latitude]="lat" [longitude]="lng" [iconUrl]= "'../../../assets/img/myicon1.png'" [title]="you" >
                      <agm-info-window>
                          <h3 style="color: black;"><strong>Hey {{name}}</strong></h3>
                          <p style="color: black;">You are here...</p>
                      </agm-info-window>
                  </agm-marker>
          
                  <div *ngFor="let counceller of councellers">
                      <agm-marker  [latitude]="counceller.lat" [longitude]="counceller.lon" [iconUrl]= "'../../../assets/img/cicon1.png'">
                          <agm-info-window>
                              <p style="color: black;">{{counceller.name}}</p>
                    
                              <p style="color: black;">{{counceller.address}}</p>
                              <button style="color: black;" (click)="onPressSelect(counceller.id)">Select</button>
                          </agm-info-window>
                      </agm-marker>
                  </div>
                
                  
              </agm-map>
          </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">


        <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="card">
                  <div class="card-body">
                   
                    <p class="card-text"><strong style="color: rgb(12, 143, 12)"> Your Councellers</strong> Hope they give you their best.</p>

                    <div  style="font-family: 'Amaranth';font-size: 2.5vh" class="listc"  *ngFor="let mycounceller of mycouncellers">
                            <img src="../../../assets/img/4.jpg" style="width: 35px;height: 35px;border-radius: 50%;margin: 1vw;">
                        {{mycounceller.name}}
                        <br>

                        <button type="button" class="bookbtn" (click)="onPressBook(mycounceller.id)">Delete</button>
                        <button type="button" class="bookbtn" (click)="onPressSelect(mycounceller.id)">Chat</button>
                        <button type="button" class="bookbtn" (click)="onPressSelect(mycounceller.id)">Book</button>
                        <br>
                        <hr>
                    </div>
                    
                  </div>
                </div>
        </div>


        <div class="col-md-8 col-lg-8 col-sm-8">
                <div class="card">
                  <div class="card-body">

                    <p class="card-text"> Else, here is Our Counceller Collection. You can select any two councellers from them.</p>


                    <div style="font-family: 'Amaranth';font-size: 2.5vh" class="listc"  *ngFor="let counceller of councellers">
                        <img src="../../../assets/img/4.jpg" style="width: 35px;height: 35px;border-radius: 50%;margin: 1vw;">
                        {{counceller.name}}

                        <button type="button" class="bookbtn" (click)="onPressBook(counceller.id)">Book</button>
                        <button type="button" class="bookbtn" (click)="onPressSelect(counceller.id)">Map</button>

                        <hr>
                    </div>
                    
                  </div>
                </div>
        </div>

  </div>