<div class="page">
    <div class="main">
        <div class="msg">Page Not Found</div>
        <div class="error">
            <div class="f1">4</div>
                <div class="circle">
                    <div class="smalldot">

                    </div>
                </div>
            <div class="f2">4</div>
        </div>
        <div class="info">We can't find the page <br>you're looking for</div>
        <div class="btn" (click)="goHome()" > Back to Home</div>
    </div>

    <div class="ring"></div>
</div>