.topnav {
    
    background:linear-gradient(to right,rgb(75, 1, 62), rgb(12, 5, 109));
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(5, 2, 49);
    z-index: 1000;
    height: 55px;
  }

  
  .right {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
  }

  .left{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    }

  
  
  
  .msgno{
    color:red;
  }
  

  
  .topnav i:hover {
    background-color: rgba(139, 136, 136, 0.5);
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .active {
    background-color: black;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
     margin-left: 30px;
    }
  }
  
  
  .avatar {
    width: 40px;
    height: 40px; 
    padding-top: 10px;
    /*box-shadow: 0 0 10px rgba(255,255,255,0.8);*/
  }
 

  .icon{
    left: 0;
  }
  
  .topnavicon{
    padding-bottom: 15px;
    padding-left:10px;
    padding-right:10px;
    
  }


 /*Dropdown*/

 


 li{
   list-style: none;
   text-align: center;
   cursor: pointer;
 }

.dropdown-menu{

  position: absolute;
  box-shadow:0 0 10px rgba(255,255,255,0.8);
  
}

.dropdown-header{
  text-align: center;
}

.menu1{
  margin-left: 64%;
  margin-top: 5%;
  width: 300px;
}

.menu2{
  margin-left: 70%;
  margin-top: 5%;
  width: 300px;
}
 
.menu3{
  margin-left: 87%;
  margin-top: 5%;
  
}

@media only screen and (max-width: 1000px) {
  .menu1{
    margin-left: 63%;
    margin-top: 10%;
  }
  
  .menu2{
    margin-left: 56%;
    margin-top: 5%;
  }
   
  .menu3{
    margin-left: 60%;
    margin-top: 5%;
  }
}

 