

<div class="topnav" id="myTopnav">

  


  <li id="notification_li" class="notification_li">

  <a id="notificationLink" (click)="notific()" class="right"><i class="fa fa-bell fa-lg avatar"></i><span class="msgno">{{countNotification}}</span></a>
  <a id="notificationLinkm" (click)="message()" class="right" ><i class="fa fa-envelope-open fa-lg avatar" ></i><span class="msgno">{{countMessage}}</span></a>
  <a id="notificationLinku" (click)="dropdown()"class="right" ><i class="fa fa-user-circle fa-lg avatar"></i></a>

  <div id="notificationContainer">
      <div id="notificationTitle">Notifications</div>
      <div id="notificationsBody" class="notifications">

      <div class="row">
        <div class="col-sm-12">
          NOTIFICATION
          <hr>
        </div>
      </div>

      <div class="row" style="padding: 1vh;">
        <div class="col-sm-12">
          NOTIFICATION2
          <hr>
        </div>
      </div>
      
      </div>
      <!--<div id="notificationFooter"><a href="#">See All</a></div>-->
  </div>


  <div id="notificationContainerm">
    <div id="notificationTitlem">Notifications</div>
    <div id="notificationsBodym" class="notifications">

    <div class="row">
      <div class="col-sm-12">
        Message 1
        <hr>
      </div>
    </div>

    <div class="row" style="padding: 1vh;">
      <div class="col-sm-12">
        message 2
        <hr>
      </div>
    </div>
    
    </div>
    <!--<div id="notificationFooter"><a href="#">See All</a></div>-->
</div>


<div id="notificationContaineru">
  <div id="notificationTitleu">Notifications</div>
  <div id="notificationsBodyu" class="notifications">

  <div class="row">
    <div class="col-sm-12">
      <a (click)="logOut()">LogOut</a>
      <hr>
    </div>
  </div>

  <div class="row" style="padding: 1vh;">
    <div class="col-sm-12">
      <a (click)="profile()">Profile</a>
      <hr>
    </div>
  </div>
  
  </div>
  <!--<div id="notificationFooter"><a href="#">See All</a></div>-->
</div>


<!--
  <div class="col-sm-6">body</div>
        <div class="col-sm-4"><button>cc</button></div>
-->
  </li>






 <a  class="left" onclick="openNav()">
      <svg width="30" height="30" >
        <path d="M0, 5 30,5" stroke="#fff" stroke-with="5"/>
        <path d="M0, 14 30,14" stroke="#fff" stroke-with="5"/>
        <path d="M0, 23 30,23" stroke="#fff" stroke-with="5"/>
      </svg>
  </a>
 
 <!--<ul>
    <li>S</li>
    <li>T</li>
    <li>R</li>
    <li>E</li>
    <li>S</li>
    <li>S</li>
  
      <li>C</li>
      <li>O</li>
      <li>N</li>
      <li>T</li>
      <li>R</li>
      <li>O</li>
      <li>L</li>
      <li>L</li>
      <li>E</li>
      <li>R</li>
    </ul>-->


    <!--dropdown-->
    


</div>

