

<div class="topnav" id="myTopnav">

  
  <a href="" (click)="logOut()" class="active right"><span class="glyphicon glyphicon-log-out topnavicon" ></span></a>
  <a href="#about" class="right"><img src="../../../assets/img/bulb.jpeg" alt="Avatar" class="avatar "><span class="msgno">2</span></a>
  <a href="#about"class="right" ><img src="../../../assets/img/mail.jpeg" alt="Avatar" class="avatar"><span class="msgno">2</span></a>
  <a href="#about" class="right" ><img src="../../../assets/img/img_avatar.png" alt="Avatar" class="avatar"></a>
  <!--<div id="wave1"></div>
  <div id="wave2"></div>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>-->
  <a  class="left" onclick="openNav()">
      <svg width="30" height="30" >
        <path d="M0, 5 30,5" stroke="#fff" stroke-with="5"/>
        <path d="M0, 14 30,14" stroke="#fff" stroke-with="5"/>
        <path d="M0, 23 30,23" stroke="#fff" stroke-with="5"/>
      </svg>
  </a>
 
 <!--<ul>
    <li>S</li>
    <li>T</li>
    <li>R</li>
    <li>E</li>
    <li>S</li>
    <li>S</li>
  
      <li>C</li>
      <li>O</li>
      <li>N</li>
      <li>T</li>
      <li>R</li>
      <li>O</li>
      <li>L</li>
      <li>L</li>
      <li>E</li>
      <li>R</li>
    </ul>-->

</div>

