

<div class="topnav" id="myTopnav">

  


  <li>

  <div class="dropdown">
    <a class="right dropdown-toggle" data-toggle="dropdown"  ><i class="fa fa-user-circle fa-lg avatar"></i></a>
    <ul class="dropdown-menu menu3">
        <li><a (click)="logOut()" >LogOut</a></li>
        <li><a (click)="goProfile()" >Settings</a></li>
      </ul>
  </div>

  <div class="dropdown">
    <a class="right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-open fa-lg avatar" (click)="clearMsg()"></i><span class="msgno">{{countMessage}}</span></a>
    <ul class="dropdown-menu menu2">
          <li class="dropdown-header">Messages</li> 
          <li class="divider"></li> 
          <li *ngFor="let message of messages" >{{message}} <button (click)="gotoChat()">Chat</button></li>
          <li class="divider"></li>
          <li><a href="#">See All</a></li>
      
    </ul>
  </div>

  <div class="dropdown"> 
    <a class="right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa-lg avatar" (click)="clearNot()" ></i><span class="msgno">{{countNotification}}</span></a>
    <ul class="dropdown-menu menu1">
      <li class="dropdown-header">Notifications</li> 
      <li class="divider"></li> 
      <li *ngFor="let notification of notifications">{{notification}}</li>
      
    </ul>
  </div>

  </li>






 <a  class="left" onclick="openNav()">
      <svg width="30" height="30" >
        <path d="M0, 5 30,5" stroke="#fff" stroke-with="5"/>
        <path d="M0, 14 30,14" stroke="#fff" stroke-with="5"/>
        <path d="M0, 23 30,23" stroke="#fff" stroke-with="5"/>
      </svg>
  </a>
 

    


</div>

