
<div class="container">
<div class="row">


  <div class="col-md-12 col-lg-12 col-sm-12">

<div class="card">
  <div class="card-body">
   
    <p class="card-text"> Booking History</p>

<div style="font-family: 'Amaranth';font-size: 2.5vh" class="listc">
  <p> Booking request from Kasun, <br>27th of July,2018 at 10.24 p.m.</p>
  <div class="alert alert-success">
      <strong>Request Confirmed!</strong>
  </div>
  <hr>
</div>

<div style="font-family: 'Amaranth';font-size: 2.5vh" class="listc">
  <p> Booking request from user1, <br>26th of May,2018 at 9 p.m.<button type="button" id="btn" class="bookbtn">Confirm Request</button></p>
  
 

  <div class="alert alert-danger">
      <strong>Request  Not Confirmed!</strong>
  </div>
  <hr>
</div>

<div style="font-family: 'Amaranth';font-size: 2.5vh" class="listc">
  <p> Booking request from Kasun, <br>26th of April,2018 at 1 a.m.</p>
<div class="alert alert-success">
  <strong>Request Confirmed!</strong>
</div>
<hr>
</div>

<div style="font-family: 'Amaranth';font-size: 2.5vh" class="listc">
  <p> Booking request form user1,<br>6th of February,2018 at 9.21 a.m.</p>
  <div class="alert alert-success">
      <strong>Request Confirmed!</strong>
  </div>
  <hr>
</div>

</div>
</div>
</div>
</div>
</div>