/*card

.row{
    padding: 1vh;
   
}

.card{
    /*background:linear-gradient(rgb(165, 22, 139), rgb(12, 5, 109));
    background: transparent;
    padding: 1vmax;
    margin: 1vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    color: rgb(238, 219, 245);
    box-shadow: 0px 0px 6px 	rgb(15, 14, 15),0px 0px 6px  rgb(29, 28, 28);
    opacity: 0.9;
;

}

.sm{
    height: 65vh;
    overflow: hidden;
    box-shadow: wheat;
}
.card-title{
    text-align: center;
    padding: 1vh;
}

.card-content{
    color: wheat;
}
.description{
    font-family: 'Amaranth';
    font-size: 22px;
    
}*/


/*chat

.userListWrapper{
    color: #fff;
    display: flex;
    font-family:'Open Sans',sans-serif;
    font-size: 1.2em;
    flex: 1;
    color: #fff;
    order: 1;
    background-color: #2A2845;
    padding: 20px,0px,40px,30px;
    border-right: 1px solid #222 ;
}

.feedWrapper{
    background-color: #fff;
    display: flex;
    font-family:'Open Sans',sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    color: #fff;
    background: transparent;
    padding: 20px,5px,40px,5px;
   background: linear-gradient(180deg,rgba(100,200,255,0.6), rgba(0,0,0,0.9)),
    url('../../assets/images/happy_screensaver_background_029.jpg') center center no-repeat;
}

.chatFormWrapper{
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #f5f5f5;
}*/