<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-4">
      <img src="../../../assets/img/onboarding-brain_9b609b84a83a982727e9cebd183ad478.gif" style="height: 300px;width: 300px;">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4"></div>


</div>



<div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Music for highly stressed peple</h2>
    
              <!--card content-->
             
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/GgqkWqxT5OA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/cGaONfPbf_g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/AmqDOA-JALg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
</div>

    <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Music for people with mild stress</h2>
        
                  <!--card content-->
                 
                  <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                  <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/GgqkWqxT5OA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/cGaONfPbf_g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/AmqDOA-JALg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
            </div>
        
    </div>

        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <h2 class="card-title">Music for people with a bit of stress</h2>
            
                      <!--card content-->
                      <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/GgqkWqxT5OA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/cGaONfPbf_g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="250" height="160" class="vedio" src="https://www.youtube.com/embed/AmqDOA-JALg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
              </div>

            
        </div>


