/*card*/

.row{
    padding: 1vh;
   
   
}

.card{
    /*background:linear-gradient(rgb(165, 22, 139), rgb(12, 5, 109));*/
    background: transparent;
    padding: 1vmax;
    margin: 1vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    color: rgb(238, 219, 245);
    box-shadow: 0px 0px 6px 	rgb(15, 14, 15),0px 0px 6px  rgb(29, 28, 28);
    opacity: 0.9;

}

.sm{
    height: 65vh;
    overflow: hidden;
    box-shadow: wheat;
}
.card-title{
    text-align: center;
    padding: 1vh;
}

/*vedio*/

.vedio{
    margin: 1vw;
}