<div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="card sm">
            <div class="card-body">
              <h2 class="card-title">Some Tips To Make Your Day</h2>
    
              <!--card content-->
             
              <iframe width="250" height="190" class="vedio"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
          </div>
        </div>
</div>

    <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card sm">
                <div class="card-body">
                  <h2 class="card-title">Some Tips To Make Your Day</h2>
        
                  <!--card content-->
                 
                  <iframe width="250" height="190" class="vedio"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>

                </div>
              </div>
            </div>
        
    </div>

        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="card sm">
                    <div class="card-body">
                      <h2 class="card-title">Some Tips To Make Your Day</h2>
            
                      <!--card content-->
                     
                      <iframe width="250" height="190" class="vedio"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
              </div>

            
        </div>


