
        <div class="card">

          <div class="one col-md-12 col-lg-12 col-sm-12">
             <!-- <div class="col-md-4 col-lg-4 col-sm-4">    
                  <img src="../../../../assets/img/2.jpg">    
              </div>
            
              <div class="col-md-8 col-lg-8 col-sm-8">
                bjjfjkkk
                <span class="dot"></span> 
              </div>-->

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview"></canvas>
                <div id="preview-textfield" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview1"></canvas>
                <div id="preview-textfield1" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview2"></canvas>
                <div id="preview-textfield2" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview3"></canvas>
                <div id="preview-textfield3" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview4"></canvas>
                <div id="preview-textfield4" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview5"></canvas>
                <div id="preview-textfield5" style="font-size: 15px;">0%</div>
              </div>

              <div class="gauge" style="float: left;margin: 1vw">
                <canvas width="70" height="70" id="canvas-preview6"></canvas>
                <div id="preview-textfield6" style="font-size: 15px;">0%</div>
              </div>



          </div>
          
         
         

        </div>
