<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6">
    <div class="card">
      <div class="card-body">
          

             <!--<h2 class="card-title">Tips</h2>-->
          <div class="card-content">
            <img src="../../../assets/img/Keith.jpg">
          </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 col-lg-6 col-sm-6">

              <!--<h2 class="card-title">Tips</h2>-->
              <div class="card-content">
                  <form>
                      <div class="form-group">
                        <label for="level">Maximum Suitable Level*</label>
                        <input type="text" class="form-control" id="level">
                      </div>
                      <div class="form-group">
                        <label for="level">Minimum Suitable Level*</label>
                        <input type="text" class="form-control" id="level">
                      </div>
                      <div class="form-group">
                        <label for="track">Description</label>
                        <textarea name="message" class="form-control" rows="10" cols="30"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="track">Vedio Link*</label>
                        <input type="text" class="form-control" id="track">
                      </div>
                     
                      <button type="submit" class="btn btn-default">Submit</button>
                      
                    
                      <div class="alert alert-success" *ngIf="ok">
                        <strong>Success!</strong>  {{success}}
                      </div>

                      <div class="alert alert-danger" *ngIf="ok==false">
                        <strong>Danger!</strong> {{error}}
                      </div>
                    </form> 

                    
             </div>
         <!--card content-->
         </div>
      </div>