/*card*/

.row{
    padding: 1vh;
}

.card{
    background:transparent;
    padding: 1vmax;
    margin: 1vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    box-shadow: 0px 0px 6px 	rgb(15, 14, 15),0px 0px 6px  rgb(29, 28, 28);
    max-height: 50%;
    overflow: hidden;
    opacity: 0.9;
    color: white;
}
.card-title{
    text-align: center;
    padding: 1vh;
}

.card-text{
    padding: 0.1vmax;
    text-align: center;
    font-size: 1.5vmax;
}

/*profile card*/

.content{
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(190, 81, 185);
    text-align: center;
    cursor: pointer;
    width:100%;
    margin-top: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
/*settings form*/
.input{
    transition: 0.8s;
    background-color: rgba(241, 238, 238, 0.5);
    color: white; 
    border: none;
}

.input:hover{
    transition: 0.8s;
    background-color: rgba(55, 71,79,.5);
    box-shadow: inset;

}

.input:focus{
    transition: .8s;
 
}