
  <div class="topnav" id="myTopnav">
  <span><a href="" (click)="logOut()" class="active"><span class="glyphicon glyphicon-log-out topnavicon" ></span></a></span>  
   <!--<a href="#news" ><span class="glyphicon glyphicon-bell topnavicon" ><span class="msgno">2</span></span></a>-->
<div class="dropdown">
 <a (click)="newcounceller()" class="dropbtn" style="width:auto;"><span class="glyphicon glyphicon-bell topnavicon" ><span class="msgno">{{countNotification}}</span></span>
  
</a>
 
  </div>
  
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <img src="../../assets/img/Untitled-2.png" width="15%" height="50px" id="logo" style="margin-left: 10px;"  >
  
    <a href="javascript:void(0);" class="icon1" style="float: left" (click)="myFunction1()">
      <i class="glyphicon glyphicon-chevron-left "></i>
    </a>
  
    <span>
      <a href="javascript:void(0);" class="icon2" style="margin-right: 30%" (click)="myFunction2()">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
  
    </span>
  </div>


  <div id="id01" class="modal">
  
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <h4 id="heading">New Counceller requests</h4>


        <div class="row"  *ngFor="let detail of results">
            <div class="col-sm-3">
                <img src="../../../assets/img/img_avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="col-sm-6">
                <span> </span><span>{{detail.updatedStatus}}</span>
                <br>
                <br>
               
            </div>
            <div class="col-sm-3">
                <button class="w3-btn w3-red w3-border w3-round-large" routerLink="acouncellerprof" (click)="View(detail.id);">View</button>
                <br>
                <button class="w3-btn w3-white w3-border w3-border-red w3-round-large">Delete</button>
            </div>
      </div>
  
      <div class="container">
        
        </div>
        
      </div>
  
     
    </form>
  </div>
  

 




  
  <div class="sidenav" id="mySidenav"  >
  
     
       
    
    <a routerLink='ahome' ><span class="glyphicon glyphicon-home"></span>Home</a>
    <a routerLink='acounceller'><span class="glyphicon glyphicon-dashboard"></span>Councelling</a>
    <a routerLink='auser'><span class="glyphicon glyphicon-dashboard"></span>Users</a>
    <a routerLink="/user" ><span class="glyphicon glyphicon-user"></span>Profile</a>
   
  
    
  </div>
  

<div id="main">
  <div class="row">
    <div class="col-sm-4 col-xs-3" style="background: indianred"></div>
    <div class="col-sm-6 col-xs-4">
        <router-outlet></router-outlet>
  
    </div>
    <div class="col-sm-2 col-xs-5" style="background: green"></div>
  </div>
</div>




