<div>
    <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" id="msgbtn">Send Nortification to all councellsrs

    </button>
</div>



<div class="row" id="list" *ngFor="let cname of enablecouncellers">
  <div class="col-sm-2">
      <img src="../../../assets/img/img_avatar.png" alt="Avatar" class="avatar">
  </div>
  <div class="col-sm-8" id="middetail">
        <h4>{{cname.name}}</h4>
        <h5>{{cname.address}}</h5>

      
   <span> <button class="w3-btn w3-white w3-border w3-border-red w3-round-large btn" (click)=accessControldisable(cname.id) id="{{cname.id}}bt">Disable</button></span>  

   <div id="{{cname.id}}"  style="display:none">
    <p><strong>Success!</strong></p>
   </div>

  </div>
  <div class="col-sm-2" id="last">
      <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" (click)="View(cname.id)">view</button>
    <br>
    <br>
    <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" (click)="delete(cname.id)" id="{{cname.id}}dltbtn">Delete</button>
    <div id="{{cname.id}}dlt" style="display:none">
      <p ><strong style="margin-left: 5%;color:red;">Success!</strong></p>
  </div>
  </div>
</div>

<div class="row" id="list1" *ngFor="let cname of disableCouncellers">
    <div class="col-sm-2">
        <img src="../../../assets/img/img_avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="col-sm-8" id="middetail">
          <h4>{{cname.name}}</h4>
          <h5>{{cname.address}}</h5>
  
        <button class="w3-btn w3-white w3-border w3-border-green w3-round-large" (click)="accessControlenable(cname.id)" id="{{cname.id}}bt" >Enable</button>&nbsp;
        <div id="{{cname.id}}" style="display:none">
            <p><strong>Success!</strong></p>
        </div>
    </div>
    <div class="col-sm-2" id="last">
        <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" (click)="View(cname.id)">view</button>
      <br>
      <br>
      <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" (click)="delete(cname.id)" id="{{cname.id}}dltbtn">Delete</button>
      <div id="{{cname.id}}dlt" style="display:none">
        <p><strong>Success!</strong></p>
    </div>
    </div>
  </div>